/* Estilos personalizados para a menu inicial e botões da páginas manter
		By @Mathmed  */
.button {
	cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

h2 {
	font-size: 20px;
	font-weight: bold;
}

.h1 {
	font-size: 26px;
	margin-top: 20px;
}

.btn {
	width: 200px;
	margin-bottom: 10px;
	border: 3px solid #007bff;
	transition: 0.8s all;
}		

.btn:hover{
	background: white;
}

a:hover {
	color:#007bff!important;
	font-weight:bold;
}

.btn a {
	color: white;
	font-weight:bold;
}

a:hover, a:focus {
	text-decoration: none;
}

.principal {
	margin-left: 30px;
}

.btn-voltar {
	
}
