/sigest-docs.aux
/sigest-docs.bbl
/sigest-docs.blg
/sigest-docs.brf
/sigest-docs.dvi
/sigest-docs.idx
/sigest-docs.ilg
/sigest-docs.ind
/sigest-docs.lof
/sigest-docs.log
/sigest-docs.lot
/sigest-docs.out.ps
/sigest-docs.toc
/cdu001.aux
/sigest-docs.pdf
